.bxr-brands-list{
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: #f8f8f8;*/
}

.bxr-list .slick-slider .slick-prev
,.bxr-list .slick-slider .slick-next{
    content: ' ';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -34px;
}

.bxr-list .slick-slider .slick-next{
    right: 0;
    left: auto;
}

.bxr-list .slick-dots {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    left: 50%;
    margin-left: -50%;
}

.bxr-list .slick-dots li {
    float: left;
    margin-right: 6px;
}

.bxr-list .slick-dots li button {
    cursor: pointer;
    position: relative;
    width: 12px;
    height: 12px;
    border: none;
    color: transparent;
    border-radius: 50%;
    font-size: 0;
}

.bxr-list .bxr-list h2{
    padding: 0;
    margin: 20px 0 20px 0;
    font-size: 24px;
}


