ul.breadcrumb-navigation
{
	padding:0; 
        margin-bottom:50px;
	padding-top:4px;
	list-style:none;
}

ul.breadcrumb-navigation li
{
	    display: inline-block;
    padding-right: 5px;

    position: relative;
    font-size: 0.8125em;
}

ul.breadcrumb-navigation a
{
color: #ccc;
    text-decoration: none;
    border-bottom: 1px solid #666;	
}
ul.breadcrumb-navigation a:hover{
    color: #ffffff;
    border-bottom-color: #ffffff;
}
ul.breadcrumb-navigation span
{
	color: #666;
}
.m0{
    margin:0 !important;
}