@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaRegular/ProximaNova-Regular.woff") format("woff"),
			 url("../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaLight";
	src: url("../fonts/ProximaNovaLight/ProximaNova-Light.eot");
	src: url("../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaLight/ProximaNova-Light.woff") format("woff"),
			 url("../fonts/ProximaNovaLight/ProximaNova-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaSemibold";
	src: url("../fonts/ProximaNovaSeniBold/ProximaNova-Semibold.eot");
	src: url("../fonts/ProximaNovaSeniBold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaSeniBold/ProximaNova-Semibold.woff") format("woff"),
			 url("../fonts/ProximaNovaSeniBold/ProximaNova-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNova-Bold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"),
			 url("../fonts/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "MyriadProCondBold";
	src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot");
	src: url("../fonts/MyriadProCondBold/MyriadProCondBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/MyriadProCondBold/MyriadProCondBold.woff") format("woff"),
			 url("../fonts/MyriadProCondBold/MyriadProCondBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "HelveticaNeueCyrLight";
	src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot");
	src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"),
			 url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

