@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.main-catalog-offers .slick-list, .main-catalog-offers .slick-track {
    height: 100%;
}

.main-catalog-offers.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.main-catalog-offers .slick-list {
    overflow: visible;
}

.main-catalog-offers * {
    outline: none;
}

.main-catalog-offers .slick-dots {
    position: absolute;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
    display: block;
    width: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.main-catalog-offers .slick-dots li {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.main-catalog-offers .slick-dots li button {
    width: 7px;
    height: 30px;
    padding: 0;
    background: #ffd900;
    margin-bottom: 10px;
    z-index: 0;
    position: relative;
    right: 0;
    left: auto;
    float: right;
}

.main-catalog-offers .slick-dots li button:before {
    display: none;
}

.main-catalog-offers  .slick-active button:after {
    bottom: auto;
    top: 0;
    left: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(214, 43, 13, 0);
    border-right-color: #ffd900;
    border-width: 5px;
    border-left-width: 0;
    border-top-width: 15px;
    border-bottom-width: 15px;
}

.main-catalog-offers .slick-dots li.slick-active button {
    width: 19px;
}

.main-news .slick-prev, .main-news .slick-next,
.brands-slider .slick-prev, .brands-slider .slick-next {
    border-radius: 50%;
    border: 1px solid #fff;
    width: 2.8rem;
    height: 2.8rem;
}

.main-news .slick-prev:before,
.brands-slider .slick-prev:before {
    bottom: auto;
    top: 50%;
    left: calc(50% - 1.5px);
    transform: translate(-50%, -50%);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(214, 43, 13, 0);
    border-right-color: #fff;
    border-width: 9px;
    border-left-width: 0;
    border-top-width: 8.5px;
    border-bottom-width: 8.5px;
}

.main-news .slick-next:before,
.brands-slider .slick-next:before {
    bottom: auto;
    top: 50%;
    left: calc(50% + 1.5px);
    transform: translate(-50%, -50%);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(214, 43, 13, 0);
    border-left-color: #fff;
    border-width: 9px;
    border-right-width: 0;
    border-top-width: 8.5px;
    border-bottom-width: 8.5px;
}

.brands-slider .slick-next:before {
    border-left-color: #cecdcd;
}

.brands-slider .slick-prev:before {
    border-right-color: #cecdcd;
}

.brands-slider .slick-prev, .brands-slider .slick-next {
    border-color: #cecdcd;
    background: #FAFAFA;
}

.brands-slider .slick-prev {
    left: -2rem;
}

.brands-slider .slick-next {
    right: -2rem;
}

.main-news .slick-next:hover:before,
.brands-slider .slick-next:hover:before {
    border-left-color: #f82803;
}

.main-news .slick-prev:hover:before,
.brands-slider .slick-prev:hover:before {
    border-right-color: #f82803;
}